<div class="row">
  <div class="col-8 m-auto">


    <form [formGroup]="formGroupClient">
 <div class="mb-2">
  <div class="display-6 text-center">
      Cadastro De Clientes
  </div>
    </div>
    <div class="mb-2">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="nome">


      <div *ngIf="submitted && name.invalid">
        <small class="text-danger">Nome inválido!</small>
  </div>
    </div>



    <div class="mb-3">
      <label for="course" class="form-label">Curso</label>
      <input type="text" formControlName="course" class="form-control" id="course" placeholder="Curso">
      <div *ngIf="submitted && course.invalid">
        <small class="text-danger">Curso inválido!</small>
  </div>
    </div>


    <div class="mb-2">
      <label for="email" class="form-label">Email:</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="email">
      <div *ngIf="submitted && email.invalid">
        <small class="text-danger">Email inválido!</small>
  </div>
    </div>


    <div class="mb-2">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="telefone" formControlName="telefone" class="form-control" id="telefone" placeholder="telefone">
      <div *ngIf="submitted && telefone.invalid">
        <small class="text-danger">telefone inválido!</small>
  </div>
    </div>


    <div class="mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-primary me-1" (click)="save()">Salvar</button>
      <button type="button" class="btn btn-primary" (click)="clean()">Limpar</button>
    </div>
</form>


</div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">R.M</th>
      <th scope="col">Nome</th>
      <th scope="col">Curso</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudante of estudante">
      <th scope="row">{{estudante.id}}</th>
      <td>{{estudante.name}}</td>
      <td>{{estudante.course}}</td>
      <td>{{estudante.email}}</td>
      <td>{{estudante.telefone}}</td>
      <td>
        <button type="button" class="btn btn-dark me-1" (click)="edit(estudante)" >Editar</button>
        <button type="button" class="btn btn-danger" (click)="delete(estudante)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
